/* *input form */

.todo-input-form {
  text-align: center;
}
.todo-add{
  padding: 20px;
  border: 1px solid gray;
}

input {
  font-size: 20px;
  padding: 15px;
  width: 720px;
  max-width: 100%;
  background-color: white;
 

}
.add-input{
  margin-bottom: 20px;
}
button{
  cursor: pointer;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
}

.add-button {
  width: 740px;
  background-color: rgb(41, 204, 204);
}
.add-button:hover {

  background-color: rgb(5, 187, 187);

}

.todo-input-edit {
  width: 100%;
  color: blue;
  background-color: rgb(238, 238, 238);
}

.todo-input,
.todo-input-edit {
  border: 0px;
  border-bottom: 1px solid black;
}

.todo-input:focus-visible,
.todo-input-edit:focus-visible {
  outline-style: none;
  outline-width: 0px;
}
